/*DarkMode*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}

.text-base-dark{
    color: white;

}

header button {
    background-color: #ffb742;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 1000;
    color: black;
    height: 40px;
    width: 121px;
    left: 1271px;
    top: 23.060546875px;
    border-radius: 50px;
    padding: 12px, 26px, 12px, 26px;
    border-style: none;
    margin: 10px 0px 30px 10px;

}

main button {
    background-color: rgba(255,255,255,0.08);
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 1000;
    color: black;
    height: 40px;
    width: 121px;
    left: 1271px;
    top: 23.060546875px;
    border-radius: 50px;
    padding: 12px, 26px, 12px, 26px;
    border-style: none;
    margin: 10px 0px 30px 10px;

}

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.saludo{
    font-size: 20px;
    margin: 40px 0px 0px 0px;

}



body{
    padding: 10px;
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
}


li {
    display: inline;
    list-style-type: none;
    margin: 20px;

}

header {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

ul {
    display: flex;
    margin: 0px;
}

main {
    font-family: 'inter', sans-serif;
    text-align: center;
    /* color: #ffffff; */
    margin: 0px 10px;
    
}

main h3 {
    margin: 20px;
}

main h1 {
    margin: 20px;
}

#minombreamarillo {
    font-family: 'inter', sans-serif;
    color: #ffb742;
    text-decoration: underline;
}



#description {
    font-size: 14px;
    font-style: normal;
    font-weight: lighter;
    margin: 40px;
}


a:visited{
    text-decoration: none;
    color:white;
}


a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ffb742;
}



footer {
    display: flex;
    background-color: #1c1c1c;
    justify-content: space-between;
}



footer ul {
    flex-direction: column;

}

footer li {
    margin: 10px;
}

.mynameyellowfooter{
    font-family: 'inter', sans-serif;
    color: #ffb742;
    font-size: xx-large;
    font-style: bold;
    font-weight: 1000;

}




.logo {
    margin: 0px
    
}


section {
    display: flex;
    /*text-align: center;*/
    justify-content: space-between;
    margin: 150px 40px 150px 40px;
    

}

#valoramarillo {
    color: #ffb742;
    font-weight: 1000;
    font-size: large;
    

}

.cajagris {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:#292B2E;
    width: 300px;
    /*align-items: flex-end;*/
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    
    
}

.circle {
    display: flex;
    flex-direction: column;
    /*margin-left: 30px;*/
    /*padding:20px 20px 20px 20px;*/
    height: 40px;
    width: 40px;
   

    

}

.cajagris div {
    display: flex;
    flex-direction: column;
    /*margin-left: 30px;*/
    /*padding:10px 10px 10px 10px;*/
    font-size: smaller;
  
    
    

}

.flechita{
    height: 10px;
    width: 10px;
    margin:20px;
  
}



footer button {
    margin: 10px;
    background-color: #ffb742;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 1000;
    color: black;
    height: 54px;
    width: 121px;
    left: 1271px;
    top: 23.060546875px;
    border-radius: 50px;
    padding: 12px, 26px, 12px, 26px;
    border-style: none;
    margin: 10px;

    
}

/*LightMode*/

.change-modebody{
    /* padding: 10px; */
    background-color: #E5E5E5;
    /* font-family: 'Poppins', sans-serif; */
    color: #1C1C1C;
    text-align: center;
}

.text-base-light{
    color: black;

}

